BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #000099; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 8pt verdana; PADDING-TOP: 0px
}
.style5 {
	COLOR: #0000cc
}
.style6 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0000cc
}
.style7 {
	COLOR: #0000cc
}
.text {
	MARGIN: 0px; FONT: 8pt verdana, arial, sans-serif; COLOR: #0000cc
}
#navcontainer {
	WIDTH: 150px
}
#navlist {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; FONT: 11px verdana, sans-serif; MARGIN-LEFT: 0px; WIDTH: 14em; COLOR: gray; PADDING-TOP: 1px
}
#navlist LI {
	MARGIN: 0px; BORDER-LEFT: #004080 0px solid; BORDER-BOTTOM: #717331 1px solid; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
#navlist LI A {
	PADDING-RIGHT: 0.5em; DISPLAY: block; PADDING-LEFT: 0.9em; PADDING-BOTTOM: 0.7em; PADDING-TOP: 0.7em; TEXT-DECORATION: none
}
#navlist LI A:link {
	COLOR: #0000cc
}
#navlist LI A:visited {
	COLOR: #0000cc
}
#navlist LI A:hover {
	BACKGROUND: #717331; BORDER-LEFT: #717331 8px solid; COLOR: #ffffff; TEXT-ALIGN: right
}
H1 {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; MARGIN: 0px; FONT: 28pt verdana, arial, sans-serif; COLOR: #0000cc; PADDING-TOP: 20px
}
H2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; FONT: 14pt verdana, arial, sans-serif; COLOR: #0000cc; PADDING-TOP: 10px; TEXT-ALIGN: center
}
H3 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; FONT: 14pt verdana, arial, sans-serif; COLOR: #0000cc; PADDING-TOP: 10px; TEXT-ALIGN: left
}
H4 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; FONT: 19pt verdana, arial, sans-serif; COLOR: #0000cc; PADDING-TOP: 10px; TEXT-ALIGN: center
}
H5 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; FONT: 14pt verdana, arial, sans-serif; COLOR: #0000cc; PADDING-TOP: 10px; TEXT-ALIGN: center
}
P {
	MARGIN: 0px; FONT: 8pt verdana; TEXT-ALIGN: justify
}
#contain {
	BACKGROUND: url(banner.jpg) #ffffff no-repeat right bottom
}
#header {
	WIDTH: 840px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 165px
}
#leftcol {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 150px; PADDING-TOP: 5px; BACKGROUND-COLOR: #fff
}
#leftcol P {
	PADDING-RIGHT: 18px; PADDING-LEFT: 18px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
#content {
	MARGIN-LEFT: 190px; WIDTH: 600px
}
#content P {
	PADDING-RIGHT: 18px; PADDING-LEFT: 18px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
#footer P {
	PADDING-RIGHT: 8px; FONT: 8pt verdana, arial, sans-serif; TEXT-ALIGN: center
}
#leftImg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
