body {
	margin:0;
	padding:0;
	font-family: verdana;
	font-size: 10pt;
	background-color: #BED;
	}
	
#contain {
	background: #BED url('banner.jpg') bottom right no-repeat;
	margin-left: 20px;
        }

#content {
	margin-left:160px;
	width:840px;
	z-index: -1;
	text-align: center;
	background-color: #BED;
}

#content p {
	padding:3px 18px 3px 18px;
	margin:0;
	font-size: 14px;
	text-align: center;
	color: #366;
	background-color: #BED;
}

#content li {
	color: #FFF;
	margin-left: 35px;
	background-color: #F03;
}

#footer p {
	text-align:center;
	padding-right:8px;
	font:8pt verdana, arial, sans-serif;
}

h1 {
	font:28pt verdana, arial, sans-serif;
	color:#F03;
	margin:0;
	padding:20px;
}

h2 {
	font:14pt verdana, arial, sans-serif;
	color:#F03;
	padding:10px;
	margin:0;
	text-align: center;
}

h3 {
	font:14pt verdana, arial, sans-serif;
	color:#F03;
	padding:10px;
	margin:0;
	text-align: center;
	background-color: #BED;
}

h4 {
	color:#F03;
	padding:10px;
	margin:0;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16pt;
	font-weight: lighter;
}

h5 {
	color:#F03;
	padding:10px;
	margin:0;
	text-align: center;
	font-family: verdana, arial, sans-serif;
	font-size: 12pt;
}
	
#header {
	background: #00000;
	width:1025px;
	height:165px;
	border-bottom:1px solid #CCC;
	text-align: center;
}

#leftcol {
	width:150px;
	float:left;
	padding:5px 0 5px 0;
	background-color: #DCF3D8;
	z-index: 100;
}

#leftcol p {
	padding:3px 18px 3px 18px;
	margin:0;
}

#leftImg
{
	float:left;
	padding: 0 0px 0px 0;
}

#navcontainer { width: 150px; }

#navlist
{
	padding: 1px;
	margin-left: 0;
	font: 11px verdana, sans-serif;
	width: 14em;
	color: gray; 
}

#navlist2
{
	padding: 1px;
	margin-left: 0;
	font: 11px verdana, sans-serif;
	width: 14em;
	color: gray; 
}

#navlist li
{
	list-style: none;
	margin: 0px;
	border-left: 0px #004080 solid;
	border-bottom: 1px #717331 solid;
	text-align: left;
}

#navlist2 li
{
	list-style: none;
	margin: 0px;
	border-left: 0px #004080 solid;
	border-bottom: 1px #717331 solid;
	text-align: left;
}

#navlist li a
{
	display: block;
	padding: 0.7em 0.5em 0.7em 0.9em;
	text-decoration: none;
}

#navlist2 li a
{
	display: block;
	padding: 0.7em 0.5em 0.7em 0.9em;
	text-decoration: none;
}

#navlist li a:link { color: #0000CC; }
#navlist li a:visited { color: #0000CC; }

#navlist li a:hover
{
	font-weight:none;
	text-align: right;
	color: #FFFFFF;
	background: #717331;
	border-left: 8px #717331 solid;
}

#navlist2 li a:link { color: #6600CC; }
#navlist2 li a:visited { color: #6600CC; }

#navlist2 li a:hover
{
	font-weight:none;
	text-align: right;
	color: #FFFFFF;
	background: #717331;
	border-left: 8px #717331 solid;
}

p { 
	font: 8pt verdana; 
	margin: 0px; 
	text-align: justify;
	}
.style5 {color: #0000CC}
.style6 {
	font-size: 12px;
	font-weight: bold;
	color: #0000CC;
}
.style7 {color: #0000CC}
.tableSubHeader {
	color:#FFF;
	margin:0;
	background-color: #F03;
	text-align: center;
	vertical-align: middle;
}

.text
{
	font:8pt verdana, arial, sans-serif;
	color:#366;
	margin:0;
	background-color: #FFF;
}
.textItalic {
	color:#0000CC;
	margin:0;
	font-family: verdana, arial, sans-serif;
	font-size: 8pt;
	font-style: italic;
}
.textItalicRed {
	color:#F00;
	margin:0;
	font-family: verdana, arial, sans-serif;
	font-size: 8pt;
	font-style: italic;
}


.AccordionVideosEmbedded {
	width: 650px;
	z-index: -1;
}
.SiteNotice a {
	color: #FF0;
}
.p_SubHeader {
	color:#FFF;
	margin:0;
	background-color: #6CC;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

#content p a {
	color: #F03;
}
