body { 
	font:8pt verdana; 
	background: #000099;
	margin:0;
	padding:0;
	}
.style5 {color: #0000CC}
.style6 {
	font-size: 12px;
	font-weight: bold;
	color: #0000CC;
}
.style7 {color: #0000CC}
.text
{
	font:8pt verdana, arial, sans-serif;
	color:#0000CC;
	margin:0;
	
}

#navcontainer { width: 150px; }

#navlist
{
padding: 1px;
margin-left: 0;
font: 11px verdana, sans-serif;
width: 14em;
color: gray; }

#navlist2
{
padding: 1px;
margin-left: 0;
font: 11px verdana, sans-serif;
width: 14em;
color: gray; }

#navlist li
{
list-style: none;
margin: 0px;
border-left: 0px #004080 solid;
border-bottom: 1px #717331 solid;
text-align: left;
}

#navlist2 li
{
list-style: none;
margin: 0px;
border-left: 0px #004080 solid;
border-bottom: 1px #717331 solid;
text-align: left;
}

#navlist li a
{
display: block;
padding: 0.7em 0.5em 0.7em 0.9em;
text-decoration: none;
}

#navlist2 li a
{
display: block;
padding: 0.7em 0.5em 0.7em 0.9em;
text-decoration: none;
}

#navlist li a:link { color: #0000CC; }
#navlist li a:visited { color: #0000CC; }

#navlist li a:hover
{
font-weight:none;
text-align: right;
color: #FFFFFF;
background: #717331;
border-left: 8px #717331 solid;
}

#navlist2 li a:link { color: #6600CC; }
#navlist2 li a:visited { color: #6600CC; }

#navlist2 li a:hover
{
font-weight:none;
text-align: right;
color: #FFFFFF;
background: #717331;
border-left: 8px #717331 solid;
}

h1 {

	font:28pt verdana, arial, sans-serif;
	color:#0000CC;
	margin:0;
	padding:20px;
}

h2 {

	font:14pt verdana, arial, sans-serif;
	color:#0000CC;
	padding:10px;
	margin:0;
        text-align: center;
}

h3 {

	font:14pt verdana, arial, sans-serif;
	color:#0000CC;
	padding:10px;
	margin:0;
        text-align: left;
}

h4 {

	font:19pt verdana, arial, sans-serif;
	color:#0000CC;
	padding:10px;
	margin:0;
        text-align: center;
}

h5 {

	font:14pt verdana, arial, sans-serif;
	color:#0000CC;
	padding:10px;
	margin:0;
        text-align: center;
}

p { 
	font: 8pt verdana; 
	margin: 0px; 
	text-align: justify;
	}
	
#contain {

	
	background: #FFFFFF url('banner.jpg') bottom right no-repeat;
        }
	
#header {
        background: #00000;
	width:840px;
        height:165px;
	border-bottom:1px solid #CCC;
	
}

#leftcol {

	width:150px;
	float:left;
	padding:5px 0 5px 0;
	background-color: #fff;

}

#leftcol p {

	padding:3px 18px 3px 18px;
	margin:0;

}

#content {

	margin-left:190px;
	width:600px

}

#content p {

	padding:3px 18px 3px 18px;
	margin:0;



}

#footer p {
	text-align:center;
	padding-right:8px;
	font:8pt verdana, arial, sans-serif;
        
}


#leftImg
{
float:left;
padding: 0 0px 0px 0;
}#PageSubject {
	font-size: large;
	text-align: center;
	vertical-align: middle;
	color: #0000CC;
	font-weight: bold;
}
